<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="ja">
<!--<![endif]-->
	<head>
		<script src="https://www.gstatic.com/charts/loader.js" ></script>
		<script type="text/javascript">
			google.charts.load('current', {
				'packages':['geochart']
			});
			google.charts.setOnLoadCallback(drawMap);

			function drawMap() {
			// arr_json取得
			var arrJson = JSON.parse($('.arr_json').val());
			// 都道府県データのarr_jsonをパースし配列にする

			var data = [];
			for (key in arrJson){
					data.push([key, arrJson[key]])
			}
			console.log(data);
			var dt = google.visualization.arrayToDataTable(data);
			var options = {
				region: 'JP',  //地域
				displayMode: 'regions', // regions=塗りつぶし, markers=マーカー
				backgroundColor: '#ebf7fe', //背景色
				resolution: 'provinces',
				colors:['white','green'] //階層の色
			};
			var chart = new google.visualization.GeoChart(document.getElementById('region-div'));
			//各都道府県の記事に遷移
			function selectHandler() {
					var selectedItem = chart.getSelection()[0];
					var row = selectedItem.row
					if (selectedItem) {
							//各都道府県のリンク
							url ="/articles/#" + (row + 1);
							window.location.href = url;
					}
			}

			google.visualization.events.addListener(chart, 'select', selectHandler);
			//描画
			chart.draw(dt, options);
		}

		</script>

		<title>日本地図ログ</title>

	</head>

	<body>
		<div class="container">
			<div class="row">

				<%= link_to '新規登録' , new_user_path, class: 'btn btn-primary'%>
			</div>
			<div class="row">
				<div id="region-div">
				</div>
				<input name="arr_json" type="hidden" value='<%= @prefecture_data_json %>' class='arr_json'/>
			</div>
		</div>
	</body>
</html>
