<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="ja">
<!--<![endif]-->
	<head>
		<script src="https://www.gstatic.com/charts/loader.js" ></script>
		<script type="text/javascript">
			google.charts.load('current', {
				'packages':['geochart']
			});
			google.charts.setOnLoadCallback(drawMap);

			function drawMap() {
			// arr_json取得
			var arrJson = JSON.parse($('.arr_json').val());
			var data = [];
			for (key in arrJson){
					data.push([key, arrJson[key]])
			}

			var dt = google.visualization.arrayToDataTable(data);
			var options = {
				region: 'JP',  //地域
				displayMode: 'regions', // regions=塗りつぶし, markers=マーカー
				backgroundColor: '#ebf7fe', //背景色
				resolution: 'provinces',
				colors:['white','green'], //階層の色
				magnifyingGlass: {enable: true, zoomFactor: 17.0}
			};
			var chart = new google.visualization.GeoChart(document.getElementById('region-div'));
			//各都道府県の記事に遷移
			function selectHandler() {
					var selectedItem = chart.getSelection()[0];
					var row = selectedItem.row
					if (selectedItem) {
							url ="/articles/#" + (row + 1);
							window.location.href = url;
					}
			}

			google.visualization.events.addListener(chart, 'select', selectHandler);
			//描画
			chart.draw(dt, options);
		}
		(function() {
		    document.addEventListener('DOMContentLoaded', function() {
		      document.getElementById('convert-button').addEventListener('click', function() {
		        svg2imageData();
		      });
		    });
		    function svg2imageData() {
					var svg = document.querySelector("svg");
					var width = svg.width.baseVal.value;
					var height = svg.height.baseVal.value;
					var svgData = new XMLSerializer().serializeToString(svg);
					$("body").append("<canvas id='canvas1' class='hidden' width="
					                                  + width + " height=" + height +"></canvas>");

					var canvas = $("#canvas1")[0];
					var ctx = canvas.getContext("2d");

					var imgsrc = "data:image/svg+xml;charset=utf-8;base64,"
					                       + btoa(unescape(encodeURIComponent(svgData)));
					var image = new Image();
					image.onload = function(){

					    ctx.drawImage(image, 0, 0);
					    // 自動でダウンロードさせる
					    $("body").append("<a id='image-file' class='hidden' type='application/octet-stream' href='"
					                       + canvas.toDataURL("image/png") + "' download='japanmaplog.png'>Donload Image</a>");
					    $("#image-file")[0].click();

					    // 後処理
					    $("#canvas1").remove();
					    $("#image-file").remove();

					}
					image.src = imgsrc;
				}
		  }());

		</script>

		<title>日本地図ログ</title>

	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">

				<%= link_to '新規登録' , new_user_path, class: 'btn btn-primary'%>
				<% if logged_in? %>
				<%= link_to '登録情報更新' , edit_user_path(@current_user), class: 'btn btn-primary'%>
				<%= link_to 'ダウンロード' , '#' , class: 'btn btn-primary download-image', id:'convert-button'%>
				<% end %>
				<div id="region-div">
				</div>
				<input name="arr_json" type="hidden" value='<%= @prefecture_data_json %>' class='arr_json'/>
			</div>
		</div>
	</body>
</html>
