<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="ja">
<!--<![endif]-->
	<head>
		<title>日本地図ログ</title>

	</head>

	<body>
		<div class="container">
			<div class="row">

				<%= link_to '新規登録' , new_user_path, class: 'btn btn-primary'%>
			</div>
		</div>
	</body>
</html>
