<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="ja">
<!--<![endif]-->
	<head>
		<script src="https://www.gstatic.com/charts/loader.js" ></script>
		<script type="text/javascript">
			google.charts.load('current', {
				'packages':['geochart']
			});
			google.charts.setOnLoadCallback(drawMap);

			function drawMap() {
			// arr_json取得
			var arrJson = JSON.parse($('.arr_json').val());
			var data = [];
			for (key in arrJson){
					data.push([key, arrJson[key]])
			}

			var dt = google.visualization.arrayToDataTable(data);
			var options = {
				region: 'JP',  //地域
				displayMode: 'regions', // regions=塗りつぶし, markers=マーカー
				backgroundColor: '#ebf7fe', //背景色
				resolution: 'provinces',
				colors:['white','green'], //階層の色
				magnifyingGlass: {enable: true, zoomFactor: 17.0}
			};
			var chart = new google.visualization.GeoChart(document.getElementById('region-div'));
			//各都道府県の記事に遷移
			function selectHandler() {
					var selectedItem = chart.getSelection()[0];
					var row = selectedItem.row
					if (selectedItem) {
							url ="/articles/#" + (row + 1);
							window.location.href = url;
					}
			}

			google.visualization.events.addListener(chart, 'select', selectHandler);
			//描画
			chart.draw(dt, options);

			//描画を終えてからリンク
			getDisplayImage();
		}

		  //HTML内に画像を表示
			function getDisplayImage(){
				//html2canvas実行
				html2canvas(document.getElementById('container')).then(function(canvas) {
					downloadImage(canvas.toDataURL("image/jpeg"));
				});
			}

			function downloadImage (data) {
				var fname ="testimage.jpg";
				var encdata= atob(data.replace(/^.*,/, ''));
				var outdata = new Uint8Array(encdata.length);
				for (var i = 0; i < encdata.length; i++) {
					outdata[i] = encdata.charCodeAt(i);
				}
				var blob = new Blob([outdata], ["image/jpeg"]);

				if (window.navigator.msSaveBlob) {
					//IE用
					window.navigator.msSaveOrOpenBlob(blob, fname);
				} else {
					//それ以外？
					document.getElementById("download-map").href = data;			//base64そのまま設定
					document.getElementById("download-map").download = fname;		//ダウンロードファイル名設定

				}
			}

		</script>

		<title>日本地図ログ</title>

	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">

				<%= link_to '新規登録' , new_user_path, class: 'btn btn-primary'%>
				<% if logged_in? %>
				<%= link_to '登録情報更新' , edit_user_path(@current_user), class: 'btn btn-primary'%>
				<%= link_to 'ダウンロード' , '#' , class: 'btn btn-primary', id:'download-map', download: 'hogehoge' %>
				<% end %>
				<div id="region-div">
				</div>
				<input name="arr_json" type="hidden" value='<%= @prefecture_data_json %>' class='arr_json'/>
			</div>
		</div>
	</body>
</html>
